        /* TODO: להוסיף קובץ של סטייל- CSS כדיי לעשות קוד יפה */


        * {
            box-sizing: border-box;
        }

        .nav {
            width: 20%;
            text-align: center;
            box-sizing: content-box;
            margin: auto;
            content: normal;
            block-size: auto;
            background-color: aquamarine;
            flex: content;
        }

        .section {
            background-color: #blue;
            padding: 8px;
            margin-top: 7px;
            display: block;
            width: 100%;
            color: black;
        }

        .main {
            float: left;
            width: 60%;
            padding: 0 20px;
        }

        .right {
            background-color: #e5e5e5;
            float: left;
            width: 20%;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }

        img {
            width: auto;
        }

        h1 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            position: relative;
            position: center;
        }

        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: relative;
        }

        p {
            background-color: red;
        }